
html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    background-color: rgb(51, 51, 51);  
}

/* navigation bar */
.navbar
{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(32, 30, 30);
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav
{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 15%;
}

.logo
{
    color: rgb(236, 236, 236);
    flex: 1 1 auto;
    margin-left: 15%;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Merienda One', cursive;
}

.nav a
{
    margin: 15px;
    color: rgb(236, 236, 236);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav a:hover
{
    background-color: rgb(77, 57, 57);
}

/* banner header */
header.introduction .intro-text
{
    padding-top: 300px;
}
  
header.introduction 
{
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50%;
    background-size: cover;
}

.intro-container 
{
    width: 100%;
}
  
header.introduction .intro-text .intro-lead-in 
{
    font-size: 25px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Spartan', sans-serif;
}
  
header.introduction .intro-text .intro-heading 
{
    font-size: 80px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    margin-top: 50px;
    font-family: 'Spartan', sans-serif;
    text-transform: capitalize;
}

/* pages */
.banner-area
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('./../img/2.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.order-area, .about-area, .track-area
{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.order-area, .about-area
{
    background-color: rgb(241, 241, 241);
}

.track-area
{
    color: rgb(236, 236, 236);
    background-image: url('./../img/3.png');
    background-attachment: fixed;
}

.text-part
{
    width: 65%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

h1
{
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: normal;
    font-family: 'Spartan', sans-serif;
    margin-top: 10%;
}

p
{
    font-size: 24px;
    line-height: 50px;
}

.inputField
{
    padding: 30px;
    background-color: rgb(196, 196, 196);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.075), 0 5px 20px 0 rgba(0, 0, 0, 0.205);
    transition: 0.25s;
}

.input
{
    padding: 15px;
    width: 80%;
    color: #000000;
    background-color: #fff;
    border: 1px solid rgb(170, 63, 63);
    outline: none;
    transition: .25s;
}

.input:focus
{
    border-color: #313131;
}

.input:hover
{
    border-color: #313131;
}

.button
{
    background: #4ab382;
	color: rgb(31, 31, 31);
	border: 1px solid #4ab382;
	font-size: 14px;
	transition: .6s;
    overflow: hidden;
    transform: translate(0%, 0%);
    height: 48px;
    width: 19.5%;
}

.button:focus
{
	outline: none;
}

.button:before
{
	content: '';
	display: block;
	position: absolute;
	background: rgba(255,255,255,.5);
	width: 60px;
	height: 100%;
	left: 0;
    top: 0;
	opacity: .5s;
	filter: blur(30px);
	transform: translateX(-130px) skewX(-15deg);
}

.button:after
{
	content: '';
	display: block;
	position: absolute;
	background: rgba(255,255,255,.2);
	width: 30px;
	height: 100%;
	left: 30;
	top: 0;
	opacity: .5s;
	filter: blur(30px);
	transform: translate(-100px) scaleX(-15deg);
}

.button:hover
{
    background: #266e53;
    border-color: #99d1a7;
    color: #c2c2c2;
    cursor: pointer;
}

.button:hover:before
{
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: .7s;
}

/* footer */
.footer 
{
    bottom: 0px;
    background-color: rgb(51, 51, 51);
    color: white;
    width: 100%;
    height: 40px;
    font-family: 'Spartan', sans-serif;
    display: block;
}

.footer-container
{
    margin: 0 auto;
    height: 100%;
    width: 98%;
    flex-direction: row;
    display: flex;
}

#footer-title
{
    text-align: left;
    font-size: large;
    margin-left: 5px;
    margin-top: 10px;
    font-family: 'Spartan', sans-serif;
    color: rgb(109, 109, 109);
}

.fc-container
{
    text-align: right;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 50px;
    width: 100%;
}

.footer-h3
{
    color: rgb(109, 109, 109);
    text-decoration: none;
    font-weight: lighter;
    margin-right: 5px;
    font-family: 'Spartan', sans-serif;
}
