*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{
    background-color: rgb(49, 49, 49);
    scrollbar-width: 500px;
}

.mainNav
{
    position: fixed;
    width: 100%;
    height: 13%;
}

.bg1
{
    background-color: rgb(241, 241, 241);
}

.bg2
{
    background-color: rgb(214, 214, 214);
}

.intro-container 
{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 305px;
    margin-right: auto;
    margin-left: auto;
    background-image: url('./../img/2.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container
{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
}

.row
{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(88, 65, 65);
    font-family: 'Spartan', sans-serif;
}

.title
{
    color: rgb(236, 236, 236);
    letter-spacing: 1px;
    font-family: 'Rancho', cursive;
    font-size: 45px;
    text-decoration: none;
    cursor: pointer;
}

.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav-links li
{
    list-style: none;
}

.nav-links a
{
    color: rgb(223, 223, 223);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav-links a:hover
{
    background-color: rgb(77, 57, 57);
}

header.introduction .intro-text
{
    padding-top: 300px;
}
  
header.introduction 
{
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50%;
    background-size: cover;
}
  
header.introduction .intro-text .intro-lead-in 
{
    font-size: 25px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Spartan', sans-serif;
}
  
header.introduction .intro-text .intro-heading 
{
    font-size: 80px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    margin-top: 50px;
    font-family: 'Spartan', sans-serif;
    text-transform: capitalize;
}

section h2.section-heading
{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Spartan', sans-serif;
}

.order-container
{
    margin: 0 auto;
    width: 100%;
    padding: 450px;
    text-align: center;
}

.info-container
{
    margin: 0 auto;
    width: 100%;
    padding: 290px;
    text-align: center;
}
  
section p.section-subheading 
{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Spartan', sans-serif;
}
  
.footer 
{
    bottom: 0px;
    background-color: rgb(51, 51, 51);
    color: white;
    width: 100%;
    height: 40px;
    font-family: 'Spartan', sans-serif;
    display: flex;
}

.footer-container
{
    margin: 0 auto;
    height: 100%;
    width: 98%;
    flex-direction: row;
    display: flex;
}

#footer-title
{
    text-align: left;
    font-size: large;
    margin-left: 5px;
    margin-top: 10px;
    font-family: 'Spartan', sans-serif;
    color: rgb(109, 109, 109);
}

.fc-container
{
    text-align: right;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 50px;
    width: 90%;
}

.footer-h3
{
    color: rgb(109, 109, 109);
    text-decoration: none;
    font-weight: lighter;
    margin-right: 5px;
    font-family: 'Spartan', sans-serif;
}
  
        
  
  
  
  
  
  