html
{
    scroll-behavior: smooth;
    scrollbar-width: none;
    animation: fade-in 0.5s ease-in forwards;
}

::-webkit-scrollbar 
{
    display: none;
}

@keyframes fade-in
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    background-color: rgb(51, 51, 51);  
}

/* navigation bar */
.navbar
{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(32, 30, 30);
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav
{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 15%;
}

.logo
{
    color: rgb(236, 236, 236);
    flex: 1 1 auto;
    margin-left: 15%;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Merienda One', cursive;
}

.nav a
{
    margin: 15px;
    color: rgb(236, 236, 236);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav a:hover
{
    background-color: rgb(77, 57, 57);
}

/* banner header */
header.introduction .intro-text
{
    padding-top: 300px;
}

@media only screen and (max-width: 1366px)
{
    header.introduction .intro-text
    {
        padding-top: 250px;
    }
}
  
header.introduction 
{
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50%;
    background-size: cover;
}

.intro-container 
{
    width: 100%;
}
  
header.introduction .intro-text .intro-lead-in 
{
    font-size: 30px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Spartan', sans-serif;
}
  
header.introduction .intro-text .intro-heading 
{
    font-size: 80px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    margin-top: 50px;
    font-family: 'Spartan', sans-serif;
    text-transform: capitalize;
}

/* pages */
.banner-area
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('./../img/2.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.order-area, .about-area, .track-area
{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.order-area, .about-area
{
    background-color: rgb(241, 241, 241);
}

.track-area
{
    color: rgb(236, 236, 236);
    background-image: url('./../img/3.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-part
{
    width: 65%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

h1
{
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: normal;
    margin-top: 5%;
    font-family: 'Merienda One', cursive;
}

p
{
    font-size: 24px;
    line-height: 50px;
}

.inputField
{
    padding: 4vh;
    background-color: rgb(196, 196, 196);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.075), 0 5px 20px 0 rgba(0, 0, 0, 0.205);
    transition: 0.25s;
    position: absolute;
    margin-top: 10%;
}

.input
{
    padding: 2vh;
    width: 100vh;
    color: #000000;
    background-color: #fff;
    border: 1px solid rgb(170, 63, 63);
    outline: none;
    transition: .25s;
    font-size: 15px;
}

.input:focus
{
    border-color: #313131;
}

.input:hover
{
    border-color: #313131;
}

/* footer */
.footer 
{
    bottom: 0px;
    background-color: rgb(51, 51, 51);
    color: white;
    width: 100%;
    height: 40px;
    display: block;
}

.footer-container
{
    margin: 0 auto;
    height: 100%;
    width: 98%;
    flex-direction: row;
    display: flex;
}

#footer-title
{
    text-align: left;
    font-size: large;
    margin-left: 5px;
    margin-top: 10px;
    color: rgb(109, 109, 109);
}

.fc-container
{
    text-align: right;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 50px;
    width: 100%;
}

.footer-h3
{
    color: rgb(109, 109, 109);
    text-decoration: none;
    font-weight: lighter;
    margin-right: 5px;
}

/* MODAL styling */
.modal
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #d3d3d3;
    box-shadow: 0 5px 20px 0 rgba(44, 44, 44, 0.185);
    z-index: 10;
    background-color: #d3d3d3;
    width: 500px;
    max-width: 80%;
}

.modal.active
{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header
{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    background-color: #ebebeb;
}

.modal-header .title
{
    font-size: 1.25rem;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

.modal-header .close-modal-button
{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.close-modal-button:hover
{
    color: #8a4040;
}

.modal-body
{
    padding: 10px 15px;
}

.info-container
{
    background-color: #969696;
}

#overlay
{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    pointer-events: none;
}

#overlay.active
{
    opacity: 1;
    pointer-events: all;
}