@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
* {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Amaranth';
    overflow: hidden;
}

h1 {
    font-size: 37px;
    text-shadow: 5px 5px #982121;
}

.body > #output {
    border: none;
    background-image: linear-gradient(to left top, rgb(34, 34, 34), rgb(34, 34, 34), rgb(44, 44, 44));
    position: relative;
    width: 100%;
    max-height: 100%;
}

#end-title {
    color: white;
    font-size: 24px;
}

.header {
    overflow: none;
    width: 100%;
    height: 150px;
    position: absolute;
    text-align: center;
    font-size: 24px;
    color: white;
    background-image: linear-gradient(to right, #982121, rgb(255, 63, 29), #E32929, #813531);
}

.body {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    top: 150px;
    width: 100%;
    height: 100vw;
    background-image: linear-gradient(to right bottom, rgb(48, 48, 48),rgb(20, 20, 20), rgb(32, 32, 32));
}

.footer {
    position: absolute;
    bottom: 1px;
    background-image: linear-gradient(to right, #982121, rgb(255, 63, 29), #E32929, #813531);
    width: 100%;
    height: 75px;
}

.navbar {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}

button {
    margin: 5px;
    height: 50px;
    border: none;
    color: white;
    font-family: 'Fredoka One';
    background-image: linear-gradient(to right top, #FF611D, #E32929, #813531);
    border-radius: 25px;
    width: 10rem;
    transition: 0.2s;
}

button:hover {
    background-image: linear-gradient(to right, #15dfdf, rgb(219, 13, 226));
    cursor: pointer;
    width: 12rem;
}

button:focus {
    background-image: linear-gradient(to right, #15dfdf, rgb(219, 13, 226));
    width: 12rem;
    outline: none;
    text-decoration: none;
}

.fa {
    color: white;
    margin-right: 12px;
}

 /* width */
 ::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(223, 112, 9);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 21, 21);
  } 

  @media only screen and (max-width: 700px) {
    
    .header {
        overflow: none;
        width: 100%;
        height: 385px;
        position: fixed;
        text-align: center;
        font-size: 24px;
        color: white;
        background-image: linear-gradient(to right, #982121, rgb(255, 63, 29), #E32929, #813531);
    }


    .body {
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 380px;
        width: 100%;
        height: 214vw;
        background-image: linear-gradient(to right bottom, rgb(48, 48, 48),rgb(20, 20, 20), rgb(32, 32, 32));
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        width: 100%;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
    }
    
    button {
        margin: 5px;
        height: 50px;
        border: none;
        color: white;
        font-family: 'Fredoka One';
        background-image: linear-gradient(to right top, #FF611D, #E32929, #813531);
        border-radius: 25px;
        width: 10rem;
    }
    
    button:hover {
        background-image: linear-gradient(to right, #15dfdf, rgb(219, 13, 226));
        cursor: pointer;

    }
    
    button:focus {
        background-image: linear-gradient(to right, #15dfdf, rgb(219, 13, 226));

        outline: none;
        text-decoration: none;
    }
}